@mixin tag-wrap($name) {
  &:before { content: "<#{$name}>"; }
  &:after { content: "</#{$name}>"; }
}

@mixin background-gradient($pos, $bg1, $bg2) {
  background-color: $bg1;
  background-image: -webkit-linear-gradient($pos, $bg1, $bg2);
  background-image:    -moz-linear-gradient($pos, $bg1, $bg2);
  background-image:     -ms-linear-gradient($pos, $bg1, $bg2);
  background-image:      -o-linear-gradient($pos, $bg1, $bg2);
  background-image:         linear-gradient($pos, $bg1, $bg2);
}

@mixin box-shadow-all ($h, $v, $b, $s, $c) {
  -webkit-box-shadow: $h $v $b $s $c; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: $h $v $b $s $c; /* FF3.5 - 3.6 */
          box-shadow: $h $v $b $s $c; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
}

@mixin border-radius-all ($tl, $tr, $bl, $br) {
  -webkit-border-radius: $tl $tr $bl $br;
     -moz-border-radius: $tl $tr $bl $br;
      -ms-border-radius: $tl $tr $bl $br;
       -o-border-radius: $tl $tr $bl $br;
          border-radius: $tl $tr $bl $br;
}

@mixin icon ($code) {
  &:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: $code;
  }
}