$background: hsl(210, 98%, 50%);
$hilight1: hsl(220, 100%, 90%);
$hilight2: hsl(227, 50%, 70%);
$divstart: 15%;
$hlstart: $divstart + 10%;
$hl1width: 130px;
$hl2width: 80px;
$mainWidth: 960px;
$gutterWidth: 10px;
$col1Width: 690px;
$col2Width: $mainWidth - (3 * $gutterWidth) - $col1Width - 1;
$h3Size: 16px;
$h2Size: $h3Size + 10px;
$h1Size: $h2Size + 10px;
$headerFont: Helvetica, sans-serif;

$summaryWidth: 450px;
$summaryLeft: 450px;
$summaryRight: $mainWidth - $summaryWidth - $summaryLeft;