a, body, div, h1, h2, h3, li, span, ul {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%; }

html, body {
  height: 100%; }

ul {
  list-style: none; }

li {
  display: list-item; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../font/fontawesome-webfont.eot");
  src: url("../font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../font/fontawesome-webfont.woff") format("woff"), url("../font/fontawesome-webfont.ttf") format("truetype"), url("../font/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), url("../font/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

.section-div, #preamble, #supportingText > div, #linkList {
  background: white;
  margin-bottom: 20px;
  -webkit-border-radius: 1em 2em 1em 2em;
  -moz-border-radius: 1em 2em 1em 2em;
  -ms-border-radius: 1em 2em 1em 2em;
  -o-border-radius: 1em 2em 1em 2em;
  border-radius: 1em 2em 1em 2em;
  -webkit-box-shadow: 5px 5px 10px 0px #666666;
  /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 5px 5px 10px 0px #666666;
  /* FF3.5 - 3.6 */
  box-shadow: 5px 5px 10px 0px #666666;
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */ }

body {
  background-color: #037ffc;
  background-image: -webkit-linear-gradient(120deg, #037ffc, #ccddff);
  background-image: -moz-linear-gradient(120deg, #037ffc, #ccddff);
  background-image: -ms-linear-gradient(120deg, #037ffc, #ccddff);
  background-image: -o-linear-gradient(120deg, #037ffc, #ccddff);
  background-image: linear-gradient(120deg, #037ffc, #ccddff);
  background-attachment: fixed; }

h1, h2, h3 {
  font-family: Helvetica, sans-serif; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 26px; }

h3 {
  font-size: 26px; }

#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto; }

#pageHeader {
  background: white;
  padding: 15px 1px 15px 20px;
  margin-top: 0px;
  margin-bottom: 20px;
  -webkit-border-radius: 0 0 2em 2em;
  -moz-border-radius: 0 0 2em 2em;
  -ms-border-radius: 0 0 2em 2em;
  -o-border-radius: 0 0 2em 2em;
  border-radius: 0 0 2em 2em;
  -webkit-box-shadow: 5px 5px 10px 0px #666666;
  /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 5px 5px 10px 0px #666666;
  /* FF3.5 - 3.6 */
  box-shadow: 5px 5px 10px 0px #666666;
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */ }

#quickSummary {
  position: fixed;
  top: 0;
  width: 450px;
  margin-left: 450px;
  margin-right: 60px;
  z-index: 10;
  background: #0266ca;
  font-size: 14px;
  color: white;
  padding: 0 0 0 20px;
  -webkit-border-radius: 0 0 2em 2em;
  -moz-border-radius: 0 0 2em 2em;
  -ms-border-radius: 0 0 2em 2em;
  -o-border-radius: 0 0 2em 2em;
  border-radius: 0 0 2em 2em;
  -webkit-box-shadow: 5px 5px 10px 0px #666666;
  /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 5px 5px 10px 0px #666666;
  /* FF3.5 - 3.6 */
  box-shadow: 5px 5px 10px 0px #666666;
  /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
  -webkit-transition: height 2s ease 0.5s;
  -moz-transition: height 2s ease 0.5s;
  -ms-transition: height 2s ease 0.5s;
  -o-transition: height 2s ease 0.5s;
  transition: height 2s ease 0.5s;
  height: 65px;
  overflow: hidden; }
  #quickSummary:hover {
    -webkit-transition: height 2s ease 0.5s;
    -moz-transition: height 2s ease 0.5s;
    -ms-transition: height 2s ease 0.5s;
    -o-transition: height 2s ease 0.5s;
    transition: height 2s ease 0.5s;
    height: 175px; }
  #quickSummary > .p2 {
    font-size: 26px;
    display: block;
    float: left;
    width: 400px;
    margin-left: 15px; }
    #quickSummary > .p2:before {
      font-family: FontAwesome;
      font-size: 50px;
      content: "\f019";
      display: block;
      float: left;
      width: 65px;
      height: 50px;
      line-height: 60px; }

#preamble {
  padding: 10px 20px 1px 20px; }

#supportingText {
  display: inline;
  float: left;
  width: 690px;
  margin-left: 0;
  margin-right: 10px;
  float: left; }

#supportingText > div {
  padding: 10px 1px 1px 20px; }
  #supportingText > div > * {
    width: 660px; }
  #supportingText > div:last-child {
    width: 960px;
    margin-bottom: 0px;
    -webkit-border-radius: 2em 2em 0 0;
    -moz-border-radius: 2em 2em 0 0;
    -ms-border-radius: 2em 2em 0 0;
    -o-border-radius: 2em 2em 0 0;
    border-radius: 2em 2em 0 0; }

#linkList {
  display: inline;
  float: left;
  margin-left: 0;
  width: 239px; }

#linkList2 {
  padding: 10px 1px 10px 20px; }
  #linkList2:before {
    font-size: 26px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    content: "Links"; }
  #linkList2 > div {
    width: 209px;
    margin-bottom: 15px; }
    #linkList2 > div:first-child {
      margin-top: 15px; }
  #linkList2 h3 {
    font-size: 16px; }

#extraDiv1 {
  background-color: #ccddff;
  background-image: -webkit-linear-gradient(left, #ccddff, #8c9dd9);
  background-image: -moz-linear-gradient(left, #ccddff, #8c9dd9);
  background-image: -ms-linear-gradient(left, #ccddff, #8c9dd9);
  background-image: -o-linear-gradient(left, #ccddff, #8c9dd9);
  background-image: linear-gradient(left, #ccddff, #8c9dd9);
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 25%;
  width: 130px;
  z-index: -1; }

#extraDiv2 {
  background: #8c9dd9;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 25%;
  width: 210px;
  z-index: -2; }

#lresources > ul > li {
  display: block; }
  #lresources > ul > li:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f02e"; }
