body {
  background: #037ffc; }

#container div {
  background: white;
  width: 720px;
  margin-left: auto;
  margin-right: auto; }

#extraDiv1 {
  background: #ccddff;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 25%;
  width: 130px;
  z-index: -1; }

#extraDiv2 {
  background: #8c9dd9;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: 25%;
  width: 210px;
  z-index: -2; }

/*
h1 { @include tag-wrap("h1"); }
h2 { @include tag-wrap("h2"); }
h3 { @include tag-wrap("h3"); }

span { @include tag-wrap("span"); }
div { @include tag-wrap("div"); }
p { @include tag-wrap("p"); }
ul { @include tag-wrap("ul"); }
li { @include tag-wrap("li"); }
a { @include tag-wrap("a"); } */
