@import "reset.scss";
@import "vars.scss";
@import "mixins.scss";

body {
  @include background-gradient(120deg, $background, $hilight1);
  background-attachment: fixed;
}

#container {
  width: $mainWidth;
  margin-left: auto;
  margin-right: auto;
}

#supportingText {
  display: inline;
  float: left;
  width: 620px;
  margin-left: 0;
  margin-right: 10px;
  float: left;
}

#supportingText div {
  background: white;
  padding: 0 10px;
  border-radius: 0.5em 2em 0.5em 2em;
  @include box-shadow-all(0px, 0px, 4px, 0px, #666);
}

#linkList {
  background: white;
  display: inline;
  float: left;
  margin-left: 0;
  margin-right: 10px;
  width: 320px;
  margin-bottom: 20px;
  border-radius: 2em 0.5em 2em 0.5em;
}

#extraDiv1 {
  @include background-gradient(left, $hilight1, $hilight2);
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: $hlstart;
  width: $hl1width;
  z-index: -1;
}

#extraDiv2 {
  background: $hilight2;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: $hlstart;
  width: $hl1width + $hl2width;
  z-index: -2;
}


h1 { @include tag-wrap("h1"); }
h2 { @include tag-wrap("h2"); }
h3 { @include tag-wrap("h3"); }

/*span { @include tag-wrap("span"); }
div { @include tag-wrap("div"); }
p { @include tag-wrap("p"); }
ul { @include tag-wrap("ul"); }
li { @include tag-wrap("li"); }
a { @include tag-wrap("a"); } */
