@import "reset.scss";
@import "vars.scss";
@import "mixins.scss";

// Font-Awesome
@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot');
    src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../font/fontawesome-webfont.woff') format('woff'), url('../font/fontawesome-webfont.ttf') format('truetype'), url('../font/fontawesome-webfont.svgz#FontAwesomeRegular') format('svg'), url('../font/fontawesome-webfont.svg#FontAwesomeRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.section-div {
  background: white;
  margin-bottom: 2 * $gutterWidth;
  @include border-radius-all(1em, 2em, 1em, 2em);
  @include box-shadow-all(5px, 5px, 10px, 0px, #666);
}

body {
  @include background-gradient(120deg, $background, $hilight1);
  background-attachment: fixed;
}

h1, h2, h3 {
  font-family: $headerFont;
}

h1 {
  font-size: $h1Size;
}

h2 {
  font-size: $h2Size;
}

h3 {
  font-size: $h2Size;
}

#container {
  width: $mainWidth;
  margin-left: auto;
  margin-right: auto;
}

#pageHeader {
  background: white;
  padding: 15px 1px 15px 20px;
  margin-top: 0px;
  margin-bottom: 2 * $gutterWidth;
  @include border-radius-all(0, 0, 2em, 2em);
  @include box-shadow-all(5px, 5px, 10px, 0px, #666);
}

#quickSummary {
  position: fixed;
  top: 0;
  width: $summaryWidth;
  margin-left: $summaryLeft;
  margin-right: $summaryRight;
  z-index: 10;

  background: darken($background, 10%);
  font-size: 16px;
  color: white;
  padding: 0 10px 0 20px;
  @include border-radius-all(0, 0, 2em, 2em);
  @include box-shadow-all(5px, 5px, 10px, 0px, #666);

  @include transition-all(height, 2s, ease, 0.5s);

  height: 85px;
  overflow: hidden;

  &:hover{
    @include transition-all(height, 2s, ease, 0.5s);
    height: 175px;
  }

  >.p2 {
    font-size: $h2Size;
    font-family: $headerFont;
    display: block;
    float: left;
    width: 400px;
    margin-left: 15px;
    margin-top: 10px;

    &:before {
      font-family: FontAwesome;
      font-size: 50px;
      content: "\f019";
      display: block;
      float: left;
      width: 65px;
      height: 50px;
      line-height: 60px;
    }
  }
}

#preamble {
  @extend .section-div;
  padding: 10px 20px 1px 20px;
}

#supportingText {
  display: inline;
  float: left;
  width: $col1Width;
  margin-left: 0;
  margin-right: $gutterWidth;
  float: left;
}

#supportingText>div {
  @extend .section-div;
  padding: 10px 1px 1px 20px;

  >* {
    width: $col1Width - (3 * $gutterWidth);
  }

  &:last-child {
    width: $mainWidth;
    margin-bottom: 0px;
    text-align: center;
    height: 30px;
    @include border-radius-all(2em, 2em, 0, 0);

    >a {
      font-size: 18px;
      margin-bottom: 20px;
    }
  }
}

#linkList {
  @extend .section-div;
  display: inline;
  float: left;
  margin-left: 0;
  width: $col2Width;
}

#linkList2 {
  padding: 10px 1px 10px 20px;

  &:before {
    font-size: $h2Size;
    font-weight: bold;
    font-family: $headerFont;
    content: "Links";
  }

  >div {
    width: $col2Width - (3 * $gutterWidth);
    margin-bottom: 15px;

    &:first-child {
      margin-top: 15px;
    }
  }

  h3 {
    font-size: $h3Size;
    margin-bottom: 5px;
  }
}

.li-with-icon {
  margin-left: 2em;
  list-style-type: none;

  &:before {
      text-indent: -2em;
      text-align: center;
  }
}

#lselect>ul>li {
  @extend .li-with-icon;
  @include icon("\f06c");
}

#larchives>ul>li {
  @extend .li-with-icon;

  &:nth-child(1) {
    @include icon("\f051");
  }

  &:nth-child(2) {
    @include icon("\f048");
  }

  &:nth-child(3) {
    @include icon("\f07c");
  }
}

#lresources>ul>li {
  @extend .li-with-icon;
  @include icon("\f02e");
}

#extraDiv1 {
  @include background-gradient(left, $hilight1, $hilight2);
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: $hlstart;
  width: $hl1width;
  z-index: -1;
}

#extraDiv2 {
  background: $hilight2;
  position: fixed;
  top: 0;
  bottom: 0;
  margin-left: $hlstart;
  width: $hl1width + $hl2width;
  z-index: -2;
}
